@model IEnumerable<EvaluationQuestionBank>

@{
    ViewData["Title"] = "Banco de preguntas";
}

<h5 class="text-primary titulo">Lista de preguntas</h5>

<div class="row">
    <div class="col"><a asp-action="Create" class="float-right btn btn-primary mb-3">Nueva Pregunta</a></div>
</div>

<table class="table" id="QuestionsTable">
    <thead style="background-color:yellowgreen; color:white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td align="right" style="white-space:nowrap">
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit" style="font-size:larger"></i></a>&nbsp;
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-minus-circle" style="font-size:larger; color:red"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Styles {
    <link href="~/lib/datatables.net/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net/select.dataTables.min.css" rel="stylesheet" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#QuestionsTable').DataTable({
                columnDefs: [{
                    orderable: false,
                    targets: 1
                }],
                language: {
                    url: '/lib/datatables.net/Spanish.json'
                }
            });
        });
    </script>
}