@model Evaluation

@{
    ViewData["Title"] = "Editar";
}

<h5 class="text-primary titulo">Evaluación - Editar</h5>
<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="Name" class="control-label" style="color:white"></label>
                </div>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="PeriodicityId" class="control-label" style="color:white"></label>
                </div>
                <select asp-for="PeriodicityId" class="form-control"
                        asp-items="(List<SelectListItem>) ViewBag.Periodicity">
                </select>
                <span asp-validation-for="PeriodicityId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="PeriodicityAmount" class="control-label" style="color:white"></label>
                </div>
                <input asp-for="PeriodicityAmount" class="form-control" min="0" />
                <span asp-validation-for="PeriodicityAmount" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Cancelar</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}