@model EvaluationQuestionAnswer

@{
    ViewData["Title"] = "Eliminar";
}

<div>
    <h5 class="text-primary titulo"><strong>¿Está seguro de que quiere eliminar este registro?</strong></h5>
</div>
<hr />
<div>
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="EvaluationQuestionBankId" />
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="Answer" style="color:white"></label>
                </div>
                <textarea asp-for="Answer" class="form-control" rows="3" readonly="readonly"></textarea>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="IsRight" style="color:white"></label>
                </div>
                <div class="form-check">
                    @if (Model.IsRight)
                    {
                        <input class="form-check-input" type="checkbox" value="true" asp-for="IsRight" checked disabled>
                    }
                    else
                    {
                        <input class="form-check-input" type="checkbox" value="true" asp-for="IsRight" disabled>
                    }
                    <label class="form-check-label" for="IsRight">
                        Es correcta
                    </label>
                </div>
            </div>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="EvaluationQuestionBankId" />
        <div class="form-group">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-controller="EvaluationQuestionBanks"
               asp-action="Edit"
               asp-route-id="@Model.EvaluationQuestionBankId"
               class="btn btn-primary">Cancelar</a>
        </div>
    </form>
</div>