@model IdentificationType

@{
    ViewData["Title"] = "Eliminar";
}

<div>
    <h5 class="text-primary titulo"><strong>¿Está seguro de que quiere eliminar este registro?</strong></h5>
</div>
<hr />
<div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="Name" class="control-label" style="color:white"></label>
                </div>
                <input asp-for="Name" class="form-control" readonly="readonly"/>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <div style="background-color:yellowgreen;padding-top:5px;padding-left:5px;padding-bottom:2px">
                    <label asp-for="Code" class="control-label" style="color:white"></label>
                </div>
                <input asp-for="Code" class="form-control" readonly="readonly"/>
            </div>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-primary">Cancelar</a>
        </div>
    </form>
</div>
